<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>nz.olitreadwell.awesome-olitreadwell.links</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__REPO__/jobs/links.sh</string>
    <string>--open-issue</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPO__</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>15</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__REPO__/.state/links.out.log</string>
  <key>StandardErrorPath</key>
  <string>__REPO__/.state/links.err.log</string>
</dict>
</plist>
